{% extends 'basic.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<section style="background-color: rgb(160, 184, 228); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="max-width: 600px; margin: 0 auto;">
        <h1 class="text-center" style="margin-bottom: 20px; color: black; font-size: 36px; font-weight: bold;">Contact Page</h1>
        <p><strong>Address:</strong> Hilton Dublin Kilmainham, S Circular Rd, Kilmainham, Dublin, D08 XAK3</p>
        <p><strong>Phone:</strong> (0) 899-223-890</p>
        <p><strong>Email:</strong> info@nci.com</p>
        <p><strong>Hours:</strong> Monday - Friday, 6 AM - 6 PM</p>
    </div>
</section>

{% endblock body %}